version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: pub
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"
  - package-ecosystem: cargo
    directories:
      - "**/*"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"
