name: flutter_mimir_example
publish_to: none

environment:
  sdk: ^3.0.0
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_mimir: ^0.1.5
  flutter_rearch: ^1.0.0-dev.0
  mimir: ^0.1.5
  rearch: ^1.0.0-dev.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    # Copied from https://github.com/glin/reactable/blob/d8310ca34e1055d490c0a6b5af5fa0c7f291a709/vignettes/popular-movies/tmdb_movies.json
    - assets/tmdb_movies.json
